{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organisations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomorganisation</th>
                <th>Adresseorganisation</th>
                <th>Telorganisation</th>
                <th>Emailorganisation</th>
                <th>Loginorganisation</th>
                <th>Passwordorganisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td><a href="{{ path('organisations_show', { 'id': organisation.id }) }}">{{ organisation.id }}</a></td>
                <td>{{ organisation.nomOrganisation }}</td>
                <td>{{ organisation.adresseOrganisation }}</td>
                <td>{{ organisation.telOrganisation }}</td>
                <td>{{ organisation.emailOrganisation }}</td>
                <td>{{ organisation.loginOrganisation }}</td>
                <td>{{ organisation.passwordOrganisation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('organisations_show', { 'id': organisation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('organisations_edit', { 'id': organisation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('organisations_new') }}">Create a new organisation</a>
        </li>
    </ul>
{% endblock %}
