{% extends 'back.html.twig' %}
{% block egg %}
    <h1>Candidats list</h1>

    <table border="1"width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nomc</th>
            <th>Cincondidat</th>
            <th>Cv</th>
            <th>Motivation</th>
            <th>Mailaddress</th>
            <th>Tel</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td><a href="{{ path('candidat_show', { 'id': candidat.id }) }}">{{ candidat.id }}</a></td>
                <td>{{ candidat.nomC }}</td>
                <td>{{ candidat.cinCondidat }}</td>
                <td>{{ candidat.cv }}</td>
                <td>{{ candidat.motivation }}</td>
                <td>{{ candidat.mailaddress }}</td>
                <td>{{ candidat.tel }}</td>
                <td><button  style="    background-color: #ff3636;" class="btn btn-primary btn-round btn-block btn-lg"><a href="{{ path('candidat_delete', { 'id':candidat.id }) }}"> DELETE</a></button> </td>
                <td><button class="btn btn-primary btn-round btn-block btn-lg"> <a href="{{ path('candidat_edit', { 'id': candidat.id }) }}">edit</a></button> </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
