{% extends 'base.html.twig' %}
{% block content %}
    <div style="text-align: center;">
        <h1>Publier un Casting</h1><br><br>
        <div class="align-self-center ">

        {{ form_start(form, {'attr': {'class' : 'form-row'}} ) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.titreCasting, 'Titre du Casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.titreCasting, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.descriptionCasting, 'Description du Casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.descriptionCasting, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.dateCasting, 'Date de Casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.dateCasting, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.dateLP, 'Date limite pour postuler au Casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.dateLP, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.adresseCasting, 'Adresse', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.adresseCasting, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.imageCasting, 'Image', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.imageCasting,{'attr': {'class' : 'btn btn-primary btn-round btn-block btn-lg'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_widget(form.Valider, {'attr': {'class' : 'btn btn-primary btn-round'}}) }}

            </div>
        </div>
        </div>
    </div>
        {{ form_end(form) }}


{% endblock %}
