{% extends 'base.html.twig' %}
{% block content %}
    <div style="text-align: center;">
        <h1>Modifier Casting</h1><br><br>
        <div class="align-self-center ">

            {{ form_start(edit_form, {'attr': {'class' : 'form-row'}} ) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_label(edit_form.titreCasting, 'Titre Casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.titreCasting, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.descriptionCasting, 'Description Casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.descriptionCasting, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.dateCasting, 'Date casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.dateCasting, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.dateLP, 'dernier date pour postuler au casting', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.dateLP, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.adresseCasting, 'Adresse', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.adresseCasting, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.imageCasting, 'Image', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.imageCasting, {'attr': {'class' : 'form-control'}}) }}
                </div>


                <div class="form-group col-md-6">
                    {{ form_widget(edit_form.Valider, {'attr': {'class' : 'btn btn-primary btn-round'}}) }}

                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}


{% endblock %}

