{% extends 'base.html.twig' %}

{% block content %}
    <h1>Castings list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Titrecasting</th>
            <th>Descriptioncasting</th>
            <th>Datecasting</th>
            <th>Datelp</th>
            <th>Adressecasting</th>
            <th>Imagecasting</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <td><a href="{{ path('Casting_show', { 'id': casting.id }) }}">{{ casting.id }}</a></td>
                <td>{{ casting.titreCasting }}</td>
                <td>{{ casting.descriptionCasting }}</td>
                <td>{% if casting.dateCasting %}{{ casting.dateCasting|date('Y-m-d') }}{% endif %}</td>
                <td>{% if casting.dateLP %}{{ casting.dateLP|date('Y-m-d') }}{% endif %}</td>
                <td>{{ casting.adresseCasting }}</td>
                <td>{{ casting.imageCasting }}</td>
                <td><button  style="    background-color: #ff3636;" class="btn btn-primary btn-round btn-block btn-lg"><a href="{{ path('Casting_delete', { 'id':casting.id }) }}"> DELETE</a></button> </td>
                <td><button class="btn btn-primary btn-round btn-block btn-lg"> <a href="{{ path('Casting_edit', { 'id': casting.id }) }}">edit</a></button> </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Casting_show') }}">Create a new casting</a>
        </li>
    </ul>
{% endblock %}
