{% extends 'base.html.twig' %}
{% block content %}
<div style="text-align: center;">
    <h1>Publier un Evenement</h1><br><br>
    <div class="align-self-center ">

        {{ form_start(form, {'attr': {'class' : 'form-row'}} ) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.titreEvents, 'Titre evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.titreEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.descriptionEvents, 'Description Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.descriptionEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.themeEvents, 'Theme Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.themeEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.adresseEvents, 'Adresse Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.adresseEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.dateEvents, 'Date Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.dateEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

              <div class="form-group col-md-6">
                {{ form_label(form.prixEvents, 'Prix Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.prixEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.imageEvents, 'Image Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.imageEvents, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_widget(form.Valider, {'attr': {'class' : 'btn btn-primary btn-round'}}) }}

            </div>
        </div></div></div>


            {{ form_end(form) }}


            {% endblock %}

