{% extends 'base.html.twig' %}
{% block content %}
    <div style="text-align: center;">
        <h1>Modifier Casting</h1><br><br>
        <div class="align-self-center ">

            {{ form_start(edit_form, {'attr': {'class' : 'form-row'}} ) }}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_label(edit_form.titreEvents, 'Titre Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.titreEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.descriptionEvents, 'Description Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.descriptionEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.themeEvents, 'Theme Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.themeEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.adresseEvents, 'Adresse', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.adresseEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.dateEvents, 'Date et heure Evenement', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.dateEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.prixEvents, 'Prix', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.prixEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(edit_form.imageEvents, 'Image', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                    {{ form_widget(edit_form.imageEvents, {'attr': {'class' : 'form-control'}}) }}
                </div>



                <div class="form-group col-md-6">
                    {{ form_widget(edit_form.Valider, {'attr': {'class' : 'btn btn-primary btn-round'}}) }}

                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}


{% endblock %}

