{% extends 'base.html.twig' %}

{% block content %}
    <h1>Events list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Titreevents</th>
            <th>Descriptionevents</th>
            <th>Themeevents</th>
            <th>Adresseevents</th>
            <th>Dateevents</th>
            <th>Prixevents</th>
            <th>Imageevents</th>
            <th>Actions</th>
        </tr>
        </thead>
       {# <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('Events_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.titreEvents }}</td>
                <td>{{ event.descriptionEvents }}</td>
                <td>{{ event.themeEvents }}</td>
                <td>{{ event.adresseEvents }}</td>
                <td>{% if event.dateEvents %}{{ event.dateEvents|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.prixEvents }}</td>
                <td>{{ event.imageEvents }}</td>
                <td><button  style="    background-color: #ff3636;" class="btn btn-primary btn-round btn-block btn-lg"><a href="{{ path('Events_delete', { 'id': event.id }) }}"> DELETE</a></button> </td>
                <td><button class="btn btn-primary btn-round btn-block btn-lg"> <a href="{{ path('Events_edit', { 'id': event.id }) }}">edit</a></button> </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>#}
    {% for event in events %}
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" width="320" height="240" src="{{ asset('uploads/images/' ~ event.ImageEvents) }}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{ event.titreEvents }}</h4>
            <p class="card-text">{{ event.descriptionEvents }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ event.themeEvents }}</li>
                <li class="list-group-item">{{ event.adresseEvents }}</li>
                <li class="list-group-item">{% if event.dateEvents %}{{ event.dateEvents|date('Y-m-d H:i:s') }}{% endif %}</li>
                <li class="list-group-item">{{ event.prixEvents }}</li>
            </ul>
            <a href="{{ path('Events_delete', { 'id': event.id }) }}" class="btn btn-primary">delete</a>
            <a href="{{ path('Events_edit', { 'id': event.id }) }}" class="btn btn-primary">edit</a>
        </div>
    </div>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('Events_show') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
