{% extends 'base.html.twig' %}

{% block body %}
    <h1>Castings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titrecasting</th>
                <th>Descriptioncasting</th>
                <th>Datecasting</th>
                <th>Datelp</th>
                <th>Adressecasting</th>
                <th>Imagecasting</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <td><a href="{{ path('casting_show', { 'id': casting.id }) }}">{{ casting.id }}</a></td>
                <td>{{ casting.titreCasting }}</td>
                <td>{{ casting.descriptionCasting }}</td>
                <td>{% if casting.dateCasting %}{{ casting.dateCasting|date('Y-m-d') }}{% endif %}</td>
                <td>{% if casting.dateLP %}{{ casting.dateLP|date('Y-m-d') }}{% endif %}</td>
                <td>{{ casting.adresseCasting }}</td>
                <td>{{ casting.imageCasting }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('casting_show', { 'id': casting.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('casting_edit', { 'id': casting.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('casting_new') }}">Create a new casting</a>
        </li>
    </ul>
{% endblock %}
