{% extends 'profile.html.twig' %}

{% block content %}
    <h1>Contrats list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Salaire</th>
            <th>Typecontrat</th>
            <th>Dureecontart</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td><a href="{{ path('contrat_show', { 'id': contrat.id }) }}">{{ contrat.id }}</a></td>
                <td>{{ contrat.salaire }}</td>
                <td>{{ contrat.typeContrat }}</td>
                <td>{{ contrat.dureeContart }}</td>
                <td><button  style="    background-color: #ff3636;" class="btn btn-primary btn-round btn-block btn-lg"><a href="{{ path('contrat_delete', { 'id':contrat.id }) }}"> DELETE</a></button> </td>
                <td><button class="btn btn-primary btn-round btn-block btn-lg"> <a href="{{ path('contrat_edit', { 'id': contrat.id }) }}">edit</a></button> </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contrat_new') }}">Create a new contrat</a>
        </li>
    </ul>
{% endblock %}
