{% extends 'base.html.twig' %}
{% block content %}
<div style="text-align: center;">
    <h1>Ajouter Organisation</h1><br><br>
    <div class="align-self-center ">

        {{ form_start(form, {'attr': {'class' : 'form-row'}} ) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.nomOrganisation, 'Nom Organisation', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.nomOrganisation, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.adresseOrganisation, 'Adresse', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.adresseOrganisation, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.telOrganisation, 'Numero de Telephone', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.telOrganisation, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.emailOrganisation, 'Adresse Mail', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.emailOrganisation, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.loginOrganisation, 'Login', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.loginOrganisation, {'attr': {'class' : 'form-control'}}) }}
            </div>

            <div class="form-group col-md-6">
                {{ form_label(form.passwordOrganisation, 'Mot de passe', {'attr': {'class' : 'form-group col-md-6'}} ) }}
                {{ form_widget(form.passwordOrganisation, {'attr': {'class' : 'form-control'}}) }}
            </div>


    <div class="form-group col-md-6">
        {{ form_widget(form.Valider, {'attr': {'class' : 'btn btn-primary btn-round'}}) }}

    </div>
        </div>
    </div>
</div>
            {{ form_end(form) }}


            {% endblock %}

