{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ contrat.salaire }}</td>
            </tr>
            <tr>
                <th>Typecontrat</th>
                <td>{{ contrat.typeContrat }}</td>
            </tr>
            <tr>
                <th>Dureecontart</th>
                <td>{{ contrat.dureeContart }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contrat_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contrat_edit', { 'id': contrat.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
